.headerr {
  backdrop-filter: blur(2px); 
  background-color: rgba(100, 100, 202, .1);
}

input [type=checkbox]:checked + label       {
  background-color: gray;
  display: none;
  visibility: hidden;
}